* {
  margin: 0;
}

.app {
  background-color: #fafafa;

}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__upload {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;

}

.app__postsRight {
  margin-left: 20px;
}

.app__reels {
padding-left: 90px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bolder;
font-size: xx-large;
color: black;
text-shadow: 2px 2px 5px;
padding-bottom: 20px;
}