.btn-primary {
    background-color: lightskyblue;
    border-color: white;
    display: flex;
    flex-direction: column;
    

  }
  
  #example {
    margin: 3rem;
  }
  
  /* .customContainer {
    border: 1px solid black;
  } */

  .fa-heart-o {
    color: red;
    cursor: pointer;
  }
  
  .fa-heart {
    color: red;
    cursor: pointer;
  }